  .event-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
  }
  .event-image {
    position: relative;
  }
  .event-image img {
    width: 100%;
    height: auto;
  }
  .event-image .carousel-control-prev,
  .event-image .carousel-control-next {
    width: 5%;
  }
  .event-details {
    padding: 20px;
  }
  .event-date {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  .event-date .month {
    font-size: 12px;
    color: #6c757d;
  }
  .event-date .day {
    font-size: 24px;
    color: #263031;
  }
  .event-info {
    padding: 20px;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    margin-top: 20px;
    color: black;
  }
  .event-info .price {
    font-size: 24px;
    color: #0c0c0c;
  }
  .event-info .btn {
    width: 100%;
    
  }
  .producer-info {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 20px;
    color: black;
  }
  