
.filtered-events-page {
  padding: 2rem;
  
  color: #ffffff; 
  font-family: 'Arial', sans-serif;
}


.filtered-events-page h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #e5e5e5;
  text-align: center;
  margin-bottom: 1.5rem;
}




.events-grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}


.category-section h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: left;
  border-left: 4px solid #885bf1;
  padding-left: 1rem;
}


.events-cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; 
  gap: 1rem;
  padding-bottom: 1rem;
  scroll-behavior: smooth; 
}

.selected-category .events-cards {
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Ajustar el tamaño para mostrar más eventos en una fila */
}

.event-card {
  width: 300px;
  background-color: #1e1e1e;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.event-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.event-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.event-info {
  padding: 1rem;
  text-align: center;
}

.event-info h3 {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.event-info p {
  font-size: 0.9rem;
  color: #bbbbbb;
}

.date-display {
  background-color: #212121d7;
  padding: 8px 12px;
  border-radius: 8px;
  min-width: 80px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8px;
}

.date-month {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #9e9e9e;
}

.date-day {
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.2;
}

.date-time {
  font-size: 0.75rem;
  color: #9e9e9e;
}


.see-more-button {
  display: block;
  margin: 1rem auto 0;
  padding: 0.5rem 1rem; 
  background-color: #885bf1;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.see-more-button:hover {
  background-color: #6a3cc7;
  transform: translateY(-4px);
}


.events-cards::-webkit-scrollbar {
  height: 8px; /* Más alta y visible */
}

.events-cards::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #885bf1, #6a3cc7); 
  border-radius: 4px;
}

.events-cards::-webkit-scrollbar-track {
  background: #333; 
}


.filtered-events-page p {
  font-size: 1rem;
  color: #bbbbbb;
  text-align: center;
}


@media (max-width: 768px) {
  .filtered-events-page h2 {
    font-size: 1.5rem;
  }

  .see-more-button {
    width: 100%;
  }
}
