.principal {
  min-height: 90vh;
  background-image: url("https://images.pexels.com/photos/1190298/pexels-photo-1190298.jpeg");
  background-size: cover;
  background-position: bottom;
  color: white;
}

.principal__banner {
  display: grid;
  grid-template-columns: 1fr;
  height: 80vh;
  padding: 20px;
}

.principal__evento {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan-png {
  width: 70%; 
  max-width: 800px; 
  height: auto; 
  object-fit: cover;
}

@media (max-width: 768px) { 
 .slogan-png {
   width: 80%; 
 }
}

@media (max-width: 480px) { 
 .slogan-png {
   width: 90%; 
 }
}

.principal__crearEvento__texto {
  background-color: rgba(0, 0, 0, 0.582);
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px; 
  width: calc(80% - (20px)); 
  max-width: 400px; 
  margin-left:auto;      
  margin-right:auto;      
 
}

@media (max-width:768px){
.principal__crearEvento__texto{
   width : calc(90% - (20 px)); 
   margin-left:auto;          
   margin-right:auto;         
}
}

@media (max-width :480 px){
.principal__crearEvento__texto{
   width : auto ; 
   margin-left:auto ;          
   margin-right:auto ;         
}
}


.parrafo-publica {
  color: rgb(255, 255, 255); 
  font-size: 50px; 
  font-weight: bold; 
  text-align: center; 
  margin: 20px auto;
  line-height: 1; 
}
    @media (max-width: 768px) { 
      .parrafo-publica{
      font-size: 35px;
  }
  }

   @media (max-width: 480px) { 
    .parrafo-publica{
    font-size: 24px; 
   }
}


.boton-1 {
  background-color: #391679c7; 
  color: white; 
  border: 2px solid white; 
  border-radius: 20px; 
  padding: 9px 30px; 
  font-size: 18px; 
  cursor: pointer; 
  
   transition: background-color .1s ease, transform .1s ease;
}

.boton-1:hover {
   background-color: #4c269ebb; 
   transform: scale(1.05); 
}

.boton-1:active {
   transform: scale(0.95);  
}

@media (max-width: 768px) { 
 .boton-1 {
     padding: 10px 20px; 
     font-size: 16px; 
 }
}

@media (max-width: 480px) { 
 .boton-1 {
     padding: 8px 15px; 
     font-size: 14px; 
 }
}

@media only screen and (max-width: 600px) {
}


@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
  .principal__banner {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .principal__evento {
    grid-column: span 2 / span 2;
    display: flex;
    height: 100%;
    align-items: end;
    justify-content: start;
  }
  .principal__crearEvento {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .principal__crearEvento__texto {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

.scroll-gallery {
  display: flex;
}